<!DOCTYPE html>
<html>
  <head>
    <title>AUM | Assets Under Management</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", defer: true, type: "module", "data-turbo-track": "reload", nonce: true, version: Time.current.to_i %>
  </head>
  <body class="poppins-regular">
    <div id="root"></div>
    <%= javascript_include_tag "application", defer: true, "data-turbo-track": "reload", nonce: true, version: Time.current.to_i %>
  </body>
</html>